<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="display-4 h1-black">
          <h1 class="h1-style">DataSet</h1>
        </div>
      </div>
      <div class="col-sm">
        <div class="container">
          <div class="row">
            <div class="col-sm">
              <input class="form-control mr-sm-2 input-long" type="text" placeholder="Search">
            </div>
            <div class="col-sm">
              <div class="button-row">
              <button class="options ml-1 button-list" color="primary">Filter</button>
              </div>
            </div>
            <div class="col-sm">
              <button class="options ml-1 button-list"  color="primary">Go to test case</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <table class="table table-striped table-config" *ngIf="isFound">
          <caption>All Datasets</caption>
          <thead class="thead">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col">Value</th>
          </tr>
          </thead>
          <tbody>
<!--          <tr *ngFor="let library of libraries">-->
<!--            <td>{{library.name}}</td>-->
<!--            <td>{{library.description}}</td>-->
<!--            <td>{{library.createDate}}</td>-->
<!--            <td>-->
<!--              <button class="options" (click)="goToLibrary(library)">View</button>-->
<!--            </td>-->
<!--            <td>-->
<!--              <button class="options" (click)="edit(library)">Edit</button>-->
<!--            </td>-->
<!--          </tr>-->
          </tbody>
        </table>
        <div class="nothing-found">
          <div *ngIf="!isFound" class="alert alert-warning col-md-1" role="alert">
            No libraries found.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
