<div class="login_component">
  <form [formGroup]="emailForm" (ngSubmit)="onSubmit()" class="login_form">

    <h2 class="signUp_text">Reset Password</h2>
    <h5 class="text-danger text-center">{{message}}</h5>
    <h5 class="text-success text-center">{{successMessage}}</h5>

    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger text-center">
      <div *ngIf="email.errors.required">
        <h5>Email is required</h5>
      </div>
      <div *ngIf="email.errors.pattern">
        <h5>Invalid email</h5>
      </div>
    </div>
    <label class="login_label">
      <input type="email" formControlName="email" class="login_password"
             placeholder="Email">
    </label>


    <button type="submit" [disabled]="!emailForm.valid" class="login_submit">
      Send me reset email
      <span *ngIf="loading" class="spinner-border spinner-border-sm mb-2"></span>
    </button>
    <a [routerLink]="['/login']" class="linkToPage">Back to Login Page</a>
  </form>
</div>
