<div class="container-fluid my-5">
  <div class="col">
    <div class="row">
      <div class="col-sm-12 col-lg-4 col-md-6">
      <h2 class="h1-black">Edit test case event</h2>
      </div>
    <div class="col-sm-12 col-lg-4 col-md-3">
      <button class="options" [routerLink]="['/calendar']">
        Back to Calendar
      </button>
    </div>
    <div class="col-sm-12 col-lg-4 col-md-3">
      <button class="options" (click)="delete()">
        Delete
      </button>
    </div>
    </div>
    <div class="container-sm col-md-8 col-lg-6 col-sm-12 mr-auto">
      <form [formGroup]="editEventForm" (ngSubmit)="onSubmit()">
        <label class="col-sm-5 col-form-label">New day: </label>
        <div class="col-sm-7">
          <input type="date" id="newDate" class="form-control">
        </div>
          <label class="col-sm-5 col-form-label">New time: </label>
        <div class="col-sm-7">
          <input id="newTime" type="time" class="form-control .select">
        </div>
        <div class="form-group row">
          <div class="col-sm-12 col-lg-4 col-md-6 text-center mx-auto my-4">
            <button class="options-table">Save
              <span *ngIf="loading" class="spinner-border spinner-border-sm"></span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
