.container-fluid {
  padding-top: -50px;
}

form {
  padding: 5% 5% 0 5%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  min-width: 200px;
}

.select{

}

label {
  font-size: 1.6em;
  font-weight: 600;
  color: black;
}

input, textarea, select {
  border: 1px solid #BD7D42;
  border-radius: 0;
  resize: none;
  width: 90%;
}

button {
  background: #BD7D42;
  border-radius: 15px;
  width: 60%;

}
