<div class="main-content">
  <div class="row mt-5">
    <div class="col mt-4">
      <h2 class="display-4 black ">Action Configuration</h2>
    </div>
    <div class="col mt-5">
      <button class="options" [routerLink]="['/general-library']">
        Back to Library
      </button>
    </div>
  </div>

  <div class="container-sm">


    <h5 class="text-success text-center">{{successMessage}}</h5>
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
      <!--Description-->
      <div *ngIf="description.invalid && (description.dirty || description.touched)"
           class="text-danger text-center">
        <div *ngIf="description.errors.required">
          <h5>Description is required</h5>
        </div>
        <div *ngIf="description.errors.maxlength">
          <h5>Max length of description is 300 chars</h5>
        </div>
      </div>
      <div class="form-group row">
        <label for="description" class="col-sm-5 col-form-label">Description: </label>

        <div class="col-sm-7">
          <textarea id="description" type="text" class="form-control" formControlName="description"></textarea>
        </div>
      </div>

      <!--Button-->
      <div class="form-group row">
        <div class="col-md-7 text-center mx-auto my-4">
          <button class="options-table" id="createUser" [disabled]="!editForm.valid">
            Save
            <span *ngIf="loading" class="spinner-border spinner-border-sm mb-1"></span>
          </button>
        </div>
      </div>
    </form>
  </div>

</div>

