<div class="wrapper">
  <div class="sidebar">
    <div class="outside_profile_image">
      <a href=""><img src="assets/sidebar_images/img_example.jpg" alt="profile" class="profile_img"></a>
    </div>
    <hr>
    <ul>
      <li>
        <a href=""><i><img src="assets/sidebar_images/home.svg" alt="home"></i>Home</a>
      </li>
      <li>
        <a href=""><i><img src="assets/sidebar_images/profiles.svg" alt="profiles"></i>Profiles</a>
      </li>
      <li><a href=""><i><img class="sidebar_icon" src="assets/sidebar_images/project.svg" alt="project"></i>Project</a></li>
      <li><a href=""><i><img src="assets/sidebar_images/test_case.svg" alt="test_case"></i>Test case</a></li>
      <li><a href=""><i><img src="assets/sidebar_images/data_set.svg" alt="data_set"></i>Data set</a></li>
      <li><a href=""><i><img src="assets/sidebar_images/test_scenario.svg" alt="test_scenario"></i>Test scenario</a></li>
      <li><a href=""><i><img src="assets/sidebar_images/test_case_history.svg" alt="test_case_history"></i>Test case history</a></li>
      <li><a href=""><i><img src="assets/sidebar_images/reports.svg" alt="reports"></i>Reports</a></li>
      <li><a href=""><i><img src="assets/sidebar_images/notifications.svg" alt="notifications"></i>Notifications</a></li>
    </ul>
    <div class="sidebar_footer">
      <ul>
        <li><a href=""><i><img src="assets/sidebar_images/back_to.svg" alt="admins panel"></i>Admin Panel</a></li>
        <li><a href=""><i><img src="assets/sidebar_images/back_to.svg" alt="logout"></i>Logout</a></li>
      </ul>
    </div>
  </div>

  <div class="main_content">
    <h1>Admin panel</h1>
    <div class="forms_container">

      <div class="create_user_form">
        <div class="form_title">
          <h1>Create User</h1>
        </div>
        <div class="input_item">
          <label>Username:</label>
          <input [(ngModel)]="signUpService.user.username" type="text" class="input" >
        </div>
        <div class="input_item">
          <label for="">Email:</label><input [(ngModel)]="signUpService.user.email" type="text" class="input">
        </div>
        <div class="input_item">
          <label for="">Password:</label><input [(ngModel)]="signUpService.user.password" type="password" class="input" >
        </div>
        <div class="input_item">
          <label for="">Role:</label>
          <div class="custom_input_item">
            <select [(ngModel)]="signUpService.user.role" name="" id="" >
              <option value="">Select</option>
              <option value="engineer">Engineer</option>
              <option value="manager">Manager</option>
            </select>
          </div>
        </div>
        <div class="submit_input">
          <input (click)="regNewUser()" type="submit" class="input" value="Create User">
        </div>
      </div>

      <div class="delete_user_form">
        <div class="form_title">
          <h1>Delete User</h1>
        </div>
        <div class="form_item">
          <label>Username:</label>
          <input type="text">
        </div>
        <div class="form_item">
          <input type="submit" value="Enter">
        </div>
      </div>
    </div>
  </div>
</div>



