.container {
  margin-left: 20%;
  overflow-x: hidden;
}

.container-fluid {
  overflow: hidden;
}

.card {
  transition: linear 0.38s;
}

.project-card {
  width: 30px;
}

.size2{
  background:black;
  width:300px;
  height:100px;
}


.border-dance {
  border: 0;
  background:
    linear-gradient(90deg, #ecddce 50%, transparent 50%),
    linear-gradient(90deg, #ecddce 50%, transparent 50%),
    linear-gradient(0deg, #ecddce 50%, transparent 50%),
    linear-gradient(0deg, #ecddce 50%, transparent 50%);

  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 15px 4px, 15px 4px, 4px 15px, 4px 15px;
  background-position: 0 0, 200px 100px, 0 100px, 200px 0;
  padding: 10px;
  animation: border-dance 1s infinite linear;
}
@keyframes border-dance {
  0% {
    background-position: left top, right bottom, left bottom, right   top;
  }
  100% {
    background-position: left 15px top, right 15px bottom , left bottom 15px , right   top 15px;
  }
}


ngx-charts-line-chart {
  font-family: 'Lato', sans-serif;
  font-size: 22px;
}

table {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}

img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.greeting {
  animation: fadeInRight; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 3s; /* don't forget to set a duration! */
}

.dashboard-item {
  height: 360px;
  overflow: auto;
  box-shadow: 0 2px 18px 0 rgba(0,0,0,0.5);
}

h1, h2, h3, table {
  font-weight: lighter;
}

.dashboard-item::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

.dashboard-item::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

.dashboard-item::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}

select {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  padding: 7px;
}
