.container {
  margin-left: 20%;
}

.card {
  transition: linear 0.38s;
  border: 5px dashed #ecddce;
  border-radius: 15px;

}

table {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}

img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.dashboard-item {
  height: 300px;
  overflow: auto;
  box-shadow: 0 2px 18px 0 rgba(0,0,0,0.5);
}

