<div class="main-content">
  <div class="row mt-5 mb-5 main-buttons">
    <h1 class="display-4 black col-lg-7 col-md-12 col-sm-12">Test Case {{testCaseId}} Run Details</h1>
    <button class="options ml-lg-3 mt-4 col-lg-1 col-md-12 col-sm-12" (click)="goBack()">
      Go Back
    </button>
  </div>

  <div class="mt-5 row">
    <div class="custom-table black">
      <div class="row thead">
        <div class="col-lg-2 col-md-6 col-sm-12">Action Type</div>
        <div class="col-lg-2 col-md-6 col-sm-12">Status</div>
        <div class="col-lg-6 col-md-6 col-sm-12">Description</div>
        <div class="col-lg-2 col-md-6 col-sm-12">Options</div>
      </div>

      <div class="mt-5 stripped ">
        <div *ngFor="let actionResult of actionResults; let i = index">
          <div class="row mt-2">
            <div class="col-lg-2 col-md-6 col-sm-12">{{actionResult.action.actionType}}</div>

            <div id="status" class="col-lg-2 col-md-6 col-sm-12"
                 [ngStyle]="{'color': isSuccessful(actionResult.status)}">
              {{actionResult.status}}
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">{{actionResult.resultDescription}}</div>
            <div class="col-lg-2 col-md-6 col-sm-12 pt-12 ">
              <button class="options-table" (click)="getDetails(i)">View Details</button>
            </div>

          </div>
          <div *ngIf="showDetails(i)">
            <div class="row mt-2">
              <div class="col-lg-6 col-md-12 col-sm-12">Element: {{actionResult.action.element}}</div>
              <div class="col-lg-6 col-md-12 col-sm-12">Argument: {{actionResult.action.argument}}</div>
            </div>
            <div class="row mt-1">
              <img class="img-fluid" src="{{actionResult.screenshotUrl}}"  alt="screenshot image">
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>



