* {
  margin: 0;
  padding: 0;
  font-family: Lato, sans-serif;
}

.forms_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 100px;
  padding-left: 300px;
}


.user_form, .delete_user_form {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25), 0 0 10px rgba(230, 230, 230, 0.5);
  text-align: center;
  padding: 35px;
  display: flex;
  flex-direction: column;
  width: 500px;
  height: auto;
  background-color: #f2e5d9;
  margin-left: auto;
  margin-right: auto;
  border-radius: 40px;
  border: 1px solid #c89668;
}

.signUp_text{
  text-align: center;
  font-family: Roboto,sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 56px;
  color: #744D25;
}


input:focus, select:focus{
  outline: none;
}

.forms_container input {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  padding: 5px;
  border: 1px solid #996433;
  color: #6e6c68;
  border-radius: 12px;
}

.forms_container select {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  padding: 5px;
  border: 1px solid #996433;
  border-radius: 10px;
  color: #6e6c68;
}

.forms_container input[type="submit"] {
  color: #fff;
  background: #BD7D42;
  border-radius: 15px;
  width: 100%;
  border: none;
  padding: 10px;
  margin-left: 10px;
  margin-top: 10px;
  transition: linear 0.3s;
}

.forms_container input[type="submit"]:hover {
  background: #996433;
}

.forms_container label {
  font-size: 20px;
  margin-right: 15px;
  width: auto;
  color: #000;
}


.user_form .input_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
  width: auto;
}

.user_form .submit_input {
  margin-top: 15px;
}

.delete_user_form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
}

.wrapper {
  display: flex;
  position: relative;
}




#createUser:hover {
  background: #996433;
}

