<div class="main-content" (click)="cleanList()">
  <div class="row mt-5">
    <h1 class="col display-4 black">Watchers In "{{ project?.title }}"</h1>
    <div class="col mt-5">
      <button class="options" [routerLink]="['/projects']">
        Back to Projects
      </button>
    </div>
  </div>
  <div *ngIf="watchers?.length == 0" class="alert alert-warning col-md-10 mt-5" role="alert">
    No projects found.
  </div>

  <h5 class="text-success text-center mb-1 mt-1">{{successMessage}}</h5>
  <h5 class="text-danger text-center mb-1">{{errorMessage}}</h5>
  <div class="mt-5 row" *ngIf="watchers.length !== 0">
    <div class="custom-table black">
      <div class="row thead">
        <div class="col-4">Email</div>
        <div class="col-2">Role</div>
        <div class="col-3">Name</div>
      </div>
      <div class="mt-5 stripped">
        <div cdkDropList (cdkDropListDropped)="drop($event)">
          <div class="row mt-2" cdkDrag *ngFor="let watcher of watchers">
            <div class="col-4">{{watcher.email}}</div>
            <div class="col-2">{{watcher.name}}</div>
            <div class="col-3">{{watcher.role}}</div>
            <div class="col-1">
              <img src="assets/sidebar_images/remove.png"
                   class="x_img cursor-pointer" alt="remove"
                   (click)="remove(watcher)">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col add-action">
      <h3 class="col-sm-4">Add watcher: </h3>
      <div id="search-component" class="col-sm-5">
        <input
          (keyup)="searchTerm$.next($event.target.value)" #term class="form-control">

        <ul *ngIf="watchers" class="search-result">
          <li *ngFor="let watcher of availableWatchers | slice:0:9">
            <a (click)="addToList(watcher)" target="_blank">
              {{ watcher.email }}
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="form-group col">
      <div class="col-md-7 mt-3" (click)="save()">
        <button class="options-table">Save
          <span *ngIf="loading" class="spinner-border spinner-border-sm"></span>
        </button>
      </div>
    </div>
  </div>


</div>
