<div class="row">
  <h1 class="display-4 black">Compounds</h1>
</div>
<div class="row mt-5">
  <div class="search-config">

    <input #myInput placeholder="Search for a compound ..."
           class="au-input input-long mt-1" type="text"
           (keyup.enter)="doSearch(myInput.value)"/>

    <button class="options ml-1 mt-1" (click)="doSearch(myInput.value)">
      Search
    </button>
  </div>
</div>
<div class="mt-5 row">
  <div class="custom-table black">
    <div class="row thead">
      <div class="col-2">Title</div>
      <div class="col-4">Description</div>
      <div class="col-2" *ngIf="isAdmin">Options</div>
    </div>

    <div class="mt-5 stripped">
      <div class="row mt-2" *ngFor="let compound of compounds">
        <div class="col-2">{{compound.title}}</div>
        <div class="col-4">{{compound.description}}</div>
        <div class="col-2 pt-2" *ngIf="isAdmin">
          <button class="options-table" (click)="remove(compound.id)">
            Remove
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row pagination mt-3">
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-9">
        <ngb-pagination [(page)]="thePageNumber"
                        [pageSize]="thePageSize"
                        [collectionSize]="theTotalElements"
                        [maxSize]="5"
                        [boundaryLinks]="true"
                        (pageChange)="listCompounds()"
                        class="ngb-pagination">
        </ngb-pagination>
      </div>
    </div>
  </div>
</div>
