<div (click)="cleanList()">
  <div class="main-content">
    <div class="row mt-5">
      <div class="col mt-4">
        <h2 class="display-4 black">Create Project</h2>
      </div>
      <div class="col mt-5">
        <button class="options" [routerLink]="['/projects']">
          Back to Projects
        </button>
      </div>
    </div>
  </div>
  <div class="container-sm">
    <h5 class="text-success text-center mb-1">{{successMessage}}</h5>
    <h5 class="text-danger text-center mb-1">{{errorMessage}}</h5>
    <form [formGroup]="createProjectForm" (ngSubmit)="onSubmit()">
      <div *ngIf="title.invalid && (title.dirty || title.touched)"
           class="text-danger text-center mb-1">
        <div *ngIf="title.errors.required">
          <h5>Title is required</h5>
        </div>
        <div *ngIf="title.errors.maxlength">
          <h5>Max length of title is 100 chars</h5>
        </div>
        <div *ngIf="title.errors.minlength">
          <h5>Min length of title is 3 chars</h5>
        </div>
      </div>
      <div class="form-group row">

        <label for="title" class="col-sm-5 col-form-label">Title: </label>
        <div class="col-sm-7">
          <input type="text" class="form-control" formControlName="title" id="title">
        </div>
      </div>
      <div *ngIf="link.invalid && (link.dirty || link.touched)"
           class="text-danger text-center mb-1">
        <div *ngIf="link.errors.required">
          <h5>Link is required</h5>
        </div>
        <div *ngIf="link.errors.maxlength">
          <h5>Max length of link is 300 chars</h5>
        </div>
        <div *ngIf="link.errors.minlength">
          <h5>Min length of link is 3 chars</h5>
        </div>
      </div>
      <div class="form-group row">
        <label for="title" class="col-sm-5 col-form-label">Link: </label>
        <div class="col-sm-7">
          <input type="text" name="description" class="form-control" id="desc"
                 formControlName="link">
        </div>
      </div>
      <div class="form-group row" *ngIf="!isEdit">
        <label class="col-sm-5 col-form-label">Add user: </label>
        <div id="search-component" class="col-sm-7">
          <input
            (keyup)="searchTerm$.next($event.target.value)" #term class="form-control">

          <ul *ngIf="users" class="search-result">
            <li *ngFor="let user of users | slice:0:9">
              <a (click)="addToList(user)" target="_blank">
                {{ user.email }}
              </a>
            </li>
          </ul>

          <div *ngIf="addedUsers.length > 0">
            <hr>
            <br>
            Selected:
          </div>
          <div cdkDropList (cdkDropListDropped)="drop($event)">
            <ul class="added-result">
              <li cdkDrag *ngFor="let user of addedUsers">
                <a (click)="remove(user)">{{ user.email }}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-7 text-center mx-auto my-4">
          <button class="options-table" [disabled]="!createProjectForm.valid">Save
            <span *ngIf="loading" class="spinner-border spinner-border-sm"></span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
