<div>
  <ng-sidebar-container>
    <ng-sidebar
      *ngIf="user && !isOut"
      [opened]=opened
      autoCollapseWidth="1000"
      mode="over">
      <div class="list-group list-group-flush">
        <div class="text-center mt-5">
          <a [routerLink]="['profile']">
            <img src="../assets/sidebar_images/img_example.jpg" alt="Profile Image" class="profile_img">
          </a>
        </div>
        <div class="row mt-3">
          <a [routerLink]="['dashboard']" class="item ml-5 mt-4">
            <img src="../assets/sidebar_images/home.svg" alt="Home" class="mr-3">
            Home</a></div>
        <div class="row">
          <a [routerLink]="['profiles']" class="item ml-5 mt-4">
            <img src="../assets/sidebar_images/profiles.svg" alt="Profiles" class="mr-3">
            Profiles
          </a>
        </div>
        <div class="row">
          <a [routerLink]="['projects']" class="item ml-5 mt-4">
            <img src="assets/sidebar_images/project.svg" alt="Project" class="mr-3">
            Project</a></div>
        <div class="row">
          <a [routerLink]="['general-library']" class="item ml-5 mt-4">
            <img src="assets/sidebar_images/library.png" alt="Notifications" class="mr-3">
            Library</a>
        </div>
        <div class="row">
          <a [routerLink]="['notifications']" class="item ml-5 mt-4">
            <img src="assets/sidebar_images/notifications.svg" alt="Notifications" class="mr-3">
            Notifications</a>
        </div>
        <div class="row">
          <a [routerLink]="['calendar']" class="item ml-5 mt-4">
            <img src="assets/sidebar_images/calendar.png" alt="Calendar" class="mr-3">
            Calendar</a>
        </div>
        <div class="row">
          <a (click)="logout()" class="item ml-5 mt-4 cursor-pointer">
            <img src="assets/sidebar_images/back_to.svg" alt="Logout" class="mr-3">
            Logout</a>
        </div>
      </div>
    </ng-sidebar>
    <div ng-sidebar-content>
      <div class="contents">
        <router-outlet></router-outlet>
      </div>
    </div>
  </ng-sidebar-container>
</div>
<div class="container-fluid">
  <nav class="navbar" *ngIf="!isOut">
    <div class="row">
      <div class="col">
        <a (click)="toggleSidebar()" class="btn ml-5 cursor-pointer button-toggle">
          Toggle Sidebar</a>
      </div>
    </div>
  </nav>
</div>
