/*main content*/
#wrapper {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  transition: all 0.25s ease-out;
  background: linear-gradient(175.93deg, #878787 -10.23%, #BD7D42 117.03%);
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

.toggled{
  margin-left: -15rem;
  transition: all 0.25s ease-out;
}
@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }
  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

#cursor-pointer
{
  cursor: pointer;
}

#menu-toggle:hover{
  background: linear-gradient(175.93deg, #878787 -10.23%, #66380e 117.03%);
}

/*sidebar list*/
.item {
  font-family: Lato, serif;
  font-style: normal;
  font-size: 16px;
  color: #FFFFFF;
}
.row:hover{
  color: #66380E;
}

.item:hover {
  color: #66380E;
}

.profile_img{
  border-radius: 50%;
}

/*admin page & logout*/
.admin-bottom {
  bottom: 0;
  position: absolute;
}

/*button*/
.button-toggle {
  background: linear-gradient(175.93deg, #878787 -10.23%, #BD7D42 117.03%);
  color: white;
}

