
.cursor-pointer {
  cursor: pointer;
}

.menu-toggle {
  color: white;
}

.menu-toggle:hover {
  background: linear-gradient(175.93deg, #878787 -10.23%, #66380e 117.03%);
}

/*sidebar list*/
.item {
  font-family: Lato, serif;
  font-style: normal;
  font-size: 16px;
  color: #FFFFFF;
  transition: linear 0.5s;

}

.row:hover {
  color: #66380E;
}

.item:hover {
  padding: 10px;
  background: #806f5c;
  border-radius: 20px;
}

.profile_img, .profile_img:focus {
  border-radius: 50%;
  transition: linear 0.35s;
}

.profile_img:hover {
  outline: none;
  border: 5px solid #EBD8C6;
}

/*admin page & logout*/
.admin-bottom {
  bottom: 0;
  position: absolute;
}

/*button*/
.button-toggle {

  background: linear-gradient(175.93deg, #878787 -10.23%, #5f4023 117.03%);
  color: white;
}

.button-toggle:hover {
  background: linear-gradient(175.93deg, #878787 -10.23%, #1c1004 117.03%);
}

/*sidebar*/
ng-sidebar-container {
  min-width: 300px;
  max-width: 310px;
  min-height: 100vh;
  position: fixed;
}

::ng-deep .ng-sidebar {
  background: linear-gradient(175.93deg, #878787 -10.23%, #BD7D42 117.03%);
  padding: 2em 3em;
  display: block;
  top: 50%;
  right: 20px;
  position: relative;
}

a:hover {
  text-decoration: none;
}


