<div class="login_component">
    <div class="login_form">

      <h2 class ="signUp_text">Sign In</h2>
      <div *ngIf="error">
        <h5 class="text-danger text-center">{{error}}</h5>
      </div>
      <label class="login_label">
        <input type="email" [(ngModel)]="email" class="login_password" placeholder="Email" >
      </label>

      <label class="login_label">
        <input type="password" [(ngModel)]="password" class="login_password" placeholder="Password">
      </label>

      <button (click)="login()" class="login_submit">
        Login
        <span *ngIf="loading" class="spinner-border spinner-border-sm mb-2"></span>
      </button>
      <a [routerLink]="['/forgot-password']" class="linkToPage">Forgot Password?</a>

    </div>
</div>

