<div class="text-center">
  <h1 class="display-4 black mt-lg-5">History</h1>
  <h4 class="display-5 black">test case</h4>
</div>

<div class="container  p-lg-5">
  <div class="row ml-5">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 h4 black">
      Title
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 h4 black">
      Date completed
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 h4 black">
      Result
    </div>
  </div>

  <div *ngFor="let test of testCase.historyTestCases
				let i = index">
    <div class="row ml-5 align-items-center">
      <div class="col-lg-2">
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 h5 text-dark">
        {{test.title}}
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 h5 text-dark">
        {{test.dataCompleted | date: 'medium'}}
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 h5" [style]="styleFailedOrCompleted[i]" >
        {{test.result}}
      </div>
    </div>
  </div>
</div>
<div class="col-lg-12 fixed-bottom d-flex justify-content-center align-items-center">
  <ngb-pagination
      [(page)]="numPage"
      [collectionSize]="testCase.totalTestCases"
      [pageSize] = "pageSize"
      [maxSize]="3"
      [rotate]="true"
      [boundaryLinks]="true"
      (pageChange)="pageChange(numPage)"
      class="pagination">
  </ngb-pagination>
</div>
