
<div class="wrapper">
  <div class="main_content">
    <h1>Profile</h1>
    <div class="forms_container">
      <div class="profile_from">
        <div class="outside_profile_image">
          <img [src]="url"
            alt="profile" class="profile_img">
        </div>

        <div>
          <button type="button"
            class="upload_photo_input upload_photo_text">
            <label for="file">
              Upload new photo
            </label>
          </button>
          <input type="file" id="file" style="display:none;"
                (change)="fileInput($event)"/>
        </div>


        <div class="username_text">
          {{username}}
        </div>

        <div class="role text">
          role: {{role}}
        </div>

        <div class="email text">
          email: {{email}}
        </div>

      </div>
    </div>
  </div>
</div>
