<div class="main-content">
  <div class="row">
    <h1 class="display-4 black">Test-Case Info</h1>
  </div>
  <div class="row mt-5">
    <div class="search-config">

      <input #myInput placeholder="Search for an action ..."
             class="au-input input-long mt-1" type="text"
             (keyup.enter)="doSearch(myInput.value)"/>

      <button class="options ml-1 mt-1" (click)="doSearch(myInput.value)">
        Search
      </button>
    </div>
  </div>
  <div class="mt-5 row">
    <div class="custom-table black">
      <div class="row thead">
        <div class="col-lg-2 col-md-6 col-sm-12">Title</div>
        <div class="col-lg-2 col-md-6 col-sm-12">Status</div>
        <div class="col-lg-4 col-md-6 col-sm-12">Screenshot Url</div>
        <div class="col-lg-4 col-md-6 col-sm-12">Options</div>
      </div>

      <div class="mt-5 stripped ">
        <div *ngFor="let actionResult of actionResults; let i = index">
          <div class="row mt-2" >
            <div class="col-lg-2 col-md-6 col-sm-12">{{actionResult.action.title}}</div>

            <div id="status" class="col-lg-2 col-md-6 col-sm-12"
                 [ngStyle] ="{'color': isSuccessful(actionResult.status)}">
              {{actionResult.status}}
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">{{actionResult.screenshotUrl}}</div>
            <div class="col-lg-2 col-md-6 col-sm-12 pt-12 ">
              <button class="options-table" (click)="getDetails(i)">View Details</button>
            </div>

          </div>
          <div *ngIf="showDetails(i)">
            <div class="row mt-2" >
                <div class="col-lg-2 col-md-12 col-sm-12">Type: {{actionResult.action.type}}</div>
                <div class="col-lg-2 col-md-12 col-sm-12">Library Id: {{actionResult.action.libraryId}}</div>
                <div class="col-lg-4 col-md-12 col-sm-12">Description: {{actionResult.action.description}}</div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<!--<div class="row pagination mt-3">
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-9">
        <ngb-pagination [(page)]="thePageNumber"
                        [pageSize]="thePageSize"
                        [collectionSize]="theTotalElements"
                        [maxSize]="5"
                        [boundaryLinks]="true"
                        (pageChange)="listActions()"
                        class="ngb-pagination">
        </ngb-pagination>
      </div>
    </div>
  </div>
</div>-->


