<div class="container mt-5 align-content-lg-center">
  <div class="row justify-content-lg-between justify-content-md-between justify-content-sm-between">
    <div>
      <div>
        <h3 class="display-5 h3-black">Last Report Details</h3>
      </div>
    </div>
    <div>
      <button (click)="back()" class="options">
        Go Back
      </button>
    </div>
  </div>
  <div class="detail container-fluid mt-lg-5 mt-md-5 mt-sm-3 p-4 w-50">
      <p>Start time and date: </p>
      <p>End time and date: </p>
      <p>Duration: </p>
      <p>Author: </p>
      <p>Test passed: </p>
      <p>Test failed: </p>
      <p>Test stopped: </p>
      <p>Test not started:</p>
      <p>Test unknown: </p>
      <p>Status: </p>
  </div>
</div>
