<div class="login_component">
  <div class="login_container">
    <div class="login_form">

      <h2 class ="signUp_text">Sign Up</h2>
      <label class="system_message">{{message}}</label>
      <label class="login_label">
        <input type="text" [(ngModel)]="email" class="login_password" placeholder="Email" >
      </label>

      <label class="login_label">
        <input type="password" [(ngModel)]="password" class="login_password" placeholder="Password">
      </label>

      <input type="button" (click)="doLogIN()" value="Enter" class="login_submit">
      <a [routerLink]="['/forgotpassword']" class="forgotPassword">Forgot Password?</a>

    </div>
  </div>
</div>

