<div class="main-content" (click)="cleanList()">
  <div class="row mt-5">
    <h1 class="display-4 black">Actions In "{{ compoundTitle }}"</h1>
  </div>
  <div *ngIf="actions?.length == 0" class="alert alert-warning col-md-10 mt-5" role="alert">
    No actions found.
  </div>
  <h5 class="text-success text-center mb-1">{{successMessage}}</h5>
  <h5 class="text-danger text-center mb-1">{{errorMessage}}</h5>
  <div class="mt-5 row" *ngIf="actions.length !== 0">
    <div class="custom-table black">
      <div class="row thead">
        <div class="col-2">Title</div>
        <div class="col-4">Description</div>
        <div class="col-2">Type</div>
        <div class="col-2">Order</div>
      </div>
      <div class="mt-5 stripped">
        <div cdkDropList (cdkDropListDropped)="drop($event)">
          <div class="row mt-2" cdkDrag *ngFor="let action of actions">
            <div class="col-2">{{action.title}}</div>
            <div class="col-4">{{action.description}}</div>
            <div class="col-2">{{action.type}}</div>
            <div class="col-2">{{actions.indexOf(action) + 1}}</div>
            <div class="col-1"><img src="assets/sidebar_images/remove.png" class="x_img cursor-pointer" alt="remove" (click)="remove(action)"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col add-action">
      <h3 class="col-sm-4">Add action: </h3>
      <div id="search-component" class="col-sm-5">
        <input
          (keyup)="searchTerm$.next($event.target.value)" #term class="form-control">

        <ul *ngIf="actions" class="search-result">
          <li *ngFor="let action of availableActions | slice:0:9">
            <a (click)="addToList(action)" target="_blank">
              {{ action.title }}
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="form-group col">
      <div class="col-md-7 mt-3" (click)="saveOrder()">
        <button class="options-table">Save Order
          <span *ngIf="loading" class="spinner-border spinner-border-sm"></span>
        </button>
      </div>
    </div>
  </div>


</div>
