<div (click)="cleanList()">
  <div class="main-content">
    <div class="row mt-5">
      <div class="col mt-4">
        <h2 class="display-4 black">Create Compound</h2>
      </div>
      <div class="col mt-5">
        <button class="options" [routerLink]="['/general-library']">
          Back to Library
        </button>
      </div>
    </div>
  </div>

  <div class="container-sm">
    <h5 class="text-success text-center mb-1">{{successMessage}}</h5>
    <h5 class="text-danger text-center mb-1">{{errorMessage}}</h5>
    <form [formGroup]="createCompoundForm" (ngSubmit)="onSubmit()">
      <div *ngIf="name.invalid && (name.dirty || name.touched)" class="text-danger text-center mb-1">
        <div *ngIf="name.errors.required">
          <h5>Name is required</h5>
        </div>
        <div *ngIf="name.errors.maxlength">
          <h5>Max length of name is 100 chars</h5>
        </div>
      </div>
      <div class="form-group row">

        <label for="title" class="col-sm-5 col-form-label">Title: </label>
        <div class="col-sm-7">
          <input type="text" class="form-control" formControlName="name" id="title">
        </div>
      </div>
      <div *ngIf="description.invalid && (description.dirty || description.touched)"
           class="text-danger text-center mb-1">
        <div *ngIf="description.errors.required">
          <h5>Description is required</h5>
        </div>
        <div *ngIf="description.errors.maxlength">
          <h5>Max length of description is 300 chars</h5>
        </div>
      </div>
      <div class="form-group row">
        <label for="title" class="col-sm-5 col-form-label">Description: </label>
        <div class="col-sm-7">
          <textarea name="description" class="flex-control" id="desc" cols="30" rows="4"
                    formControlName="description"></textarea>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-5 col-form-label">Add action: </label>
        <div id="search-component" class="col-sm-7">
          <input
            (keyup)="searchTerm$.next($event.target.value)" #term class="form-control">

          <ul *ngIf="actions" class="search-result">
            <li *ngFor="let action of actions | slice:0:9">
              <a (click)="addToList(action)" target="_blank">
                {{ action.title }}
              </a>
            </li>
          </ul>
          <div cdkDropList (cdkDropListDropped)="drop($event)" *ngIf="addedActions?.length > 0">
            <hr>
            <em>ORDER IS IMPORTANT</em>
            <br>

            <div class="row">
              <div class="col-1"></div>
              <div class="col-2">Action</div>
              <div class="col-2">Order</div>
            </div>
            <div cdkDrag *ngFor="let action of addedActions" class="row cursor-pointer">
              <div class="col-1">
                <img src="assets/sidebar_images/remove.png"
                     class="x_img cursor-pointer" alt="remove"
                     (click)="remove(action)">
              </div>
              <div class="col-2">
                {{ action.title }}
              </div>
              <div class="col-2">
                {{ addedActions.indexOf(action) + 1 }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-7 text-center mx-auto my-4">
          <button class="options-table" [disabled]="!createCompoundForm.valid">Save
            <span *ngIf="loading" class="spinner-border spinner-border-sm"></span>
          </button>
        </div>
      </div>
    </form>
  </div>

</div>
